.input_label {
    display: inline-flex;
    flex-direction: column;
    font-size: 1.25em;
    font-weight: 400;
    gap: .25em;
    &__input {
        background: #F2F2F2;
        font-size: 1em;
        padding: .5em 1em;
        border: 1px solid transparent;
        outline: none;
        border-radius: 1em;
        box-shadow: inset 0 .15em .15em rgba(0, 0, 0, .15);
        transition: border-color .25s ease;
        &:disabled {
            cursor: not-allowed;
            background: #F2F2F2;
            color: #0000006c;
        }

        &:focus {
            border-color: #739441;
        }
    }
}