.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: var(--size-gap);
    padding: calc(var(--size-padding) * .5) calc(var(--size-padding) * 1.25);
    font-size: var(--size-text-default);
    border: 0;
    outline: 0;
    border-radius: var(--size-border-radius);
    cursor: pointer;
    box-shadow: var(--shadow);
    transition: box-shadow .15s ease;

    &.default {
        background: var(--clr-bg-default);
        color: var(--clr-text-default);
    }

    &.primary {
        background: var(--clr-primary);
        color: var(--clr-primary-text);
    }

    &.second {
        background: var(--clr-second);
        color: var(--clr-second-text);
    }

    &.danger {
        background: var(--clr-danger);
        color: var(--clr-danger-text);
    }

    &.clear {
        background: transparent;
        color: var(--clr-text-default);
        img { filter: invert(1); }
    }

    &:disabled {
        background: var(--clr-disabled);
        color: var(--clr-disabled-text);
        cursor: not-allowed;
    }
    
    &:hover {
        box-shadow: inset var(--shadow);
    }

    img {
        height: 1em;
        aspect-ratio: 1;
    }
}

a[href]:has(.button) { text-decoration: none !important; }