.wp_tag {
    display: flex;
    gap: calc(var(--size-gap) * .5);
    align-items: center;
    box-shadow: var(--shadow);
    padding: calc(var(--size-padding) * .25) calc(var(--size-padding) * .5);
    border-radius: var(--size-border-radius);
    background: var(--clr-bg-second);
    justify-content: center;
}