.inputfile_label {
    display: inline-flex;
    flex-direction: column;
    font-size: var(--size-text-default);
    font-weight: var(--weight-text-default);
    gap: calc(var(--size-gap) * .25);
    cursor: pointer;
    width: 100%;
    

    &__input {
        background: var(--clr-bg);
        font-size: var(--size-text-default);
        font-weight: var(--weight-text-default);
        outline: none;
        border-radius: var(--size-border-radius);
        box-shadow: inset var(--shadow);
        transition: border-color .25s ease;
        cursor: pointer;

        &::file-selector-button {
            background: var(--clr-primary);
            color: var(--clr-primary-text);
            border-radius: var(--size-border-radius);
            border: none;
            padding: calc(var(--size-padding) * .5) calc(var(--size-padding) * .75);
            box-shadow: var(--shadow);
            &:hover {
                cursor: pointer;
                box-shadow: inset var(--shadow);
            }
        }

        
        
        &:disabled {
            cursor: not-allowed;
            background: var(--clr-disabled);
            color: var(--clr-disabled-text)
        }

        &:focus { border-color: var(--clr-second); }
    }
}