.auth {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    &_content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--size-gap);
        flex-wrap: wrap;
        width: 100%;

        animation-name: formShow;
        animation-duration: .15s;

        .auth_form {
            width: 100%;
            max-width: 500px;
            padding: var(--size-padding);

            .form_header {
                display: flex;
                flex-direction: column;
                gap: var(--size-gap);
                img {
                    height: 5em;
                }
            }

            .auth_form__actions_message { color: var(--clr-danger-text); }
            .input_label { width: 100%; }
        }
    }
}

@media screen and (max-width: 900px) {
    .auth {
        align-items: baseline;
        max-width: 100%;
        &_content {
            justify-content: center;
            flex-direction: column-reverse;

            .auth_form {
                width: 100%;
                max-width: initial;
            }
        }
    }
}

@keyframes formShow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}