.wp_dashboard {
    display: flex;
    flex-direction: column;
    gap: var(--size-gap);
    padding: var(--size-padding);

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--size-gap);
        flex-wrap: wrap;
        background: var(--clr-bg-primary);
        z-index: 1;
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: var(--size-gap);
    }

    &__table {
        width: 100%;
        overflow-x: auto;

        table {
            width: 100%;
            border-collapse: collapse;
            td {
                padding: calc(var(--size-padding) * .25) calc(var(--size-padding) * .5);
            }

            thead {
                tr td {
                    border-bottom: .1em solid var(--clr-bg-second);
                    border-radius: var(--size-border-radius);
                    font-size: var(--size-text-default);
                    font-weight: var(--weight-text-header);
                }
            }
        }
        &_row {
            &_line {
                display: flex;
                gap: var(--size-gap);
                align-items: center;
                flex-wrap: nowrap;
            }

            &_control {
                display: flex;
                gap: var(--size-gap);
                align-items: center;
                flex-wrap: nowrap;
                justify-content: flex-end;
            }

            &_status .text {
                display: flex;
                justify-content: center;
                align-items: center;

                padding: calc(var(--size-padding) * .25) calc(var(--size-padding) * .5);
                border-radius: var(--size-border-radius);
                background: var(--clr-bg-second);
                color: var(--clr-text-default);
                box-shadow: var(--shadow);
                font-weight: var(--weight-text-header);
            }

            .game {
                height: 3em;
                width: inherit;
                .game_avatar {
                    aspect-ratio: 1;
                }
            }

            .text {
                text-wrap: nowrap;
            }
        }
    }
}