.block {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;

    &_header {
        display: flex;
        flex-direction: row;
        gap: 1em;
        justify-content: space-between;
        align-items: center;

        &__title {
            font-size: var(--size-text-header);
            font-weight: var(--weight-text-header);
            text-overflow: ellipsis;
        }
    }

    &_body {
        display: flex;
        flex-direction: row;
        gap: 1em;
        flex-wrap: wrap;


        .game.compact {
            height: 5em;
            width: 5em;
        }
    }
}