.text {
    cursor: default;
    user-select: none;

    font-size: var(--size-text-default);
    font-weight: var(--weight-text-default);

    &.center {
        text-align: center;
    }

    &.danger {
        color: var(--clr-danger-text);
    }

    &.title {
        font-size: var(--size-text-header);
        font-weight: var(--weight-text-header);
    }

    
}