@game-size: 5em;
.grid {
    box-sizing: border-box;
    padding: var(--size-padding);

    display: grid;
    gap: var(--size-gap);
    grid-template-columns: repeat(auto-fill, minmax(@game-size, 1fr));
    grid-auto-rows: @game-size;
    grid-auto-flow: dense;

    .game.compact {
        &:nth-child(5n + 3) {
            width: 100%;
            height: 100%;
            grid-column: span 2;
            grid-row: span 2;
        }
    }
}

.tags {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--size-padding);
    box-sizing: border-box;
    gap: var(--size-gap);

    .content {
        font-size: .75em;
        display: grid;
        gap: 1em;
        column-gap: 5em;
        grid-template-columns: repeat(4, 1fr);
        color: var(--clr-primary);
    }
}