select.wp_select {
    display: inline-flex;
    flex-direction: column;
    font-size: var(--size-text-default);
    font-weight: var(--weight-text-default);
    gap: calc(var(--size-gap) * .25);
    cursor: pointer;
    background: var(--clr-bg);

        padding: calc(var(--size-padding) * .5) calc(var(--size-padding) * .75);
        border: 1px solid transparent;
        outline: none;
        border-radius: var(--size-border-radius);
        box-shadow: var(--shadow);
        transition: border-color .25s ease;
}