.game {
    &.compact {
        width: 100%;
        height: 100%;
        grid-column: span 1;
        grid-row: span 1;
    }
    &:not(.compact) {
        width: 100%;
        height: fit-content;
        display: flex;
        gap: 1em;
        .game_avatar {
            width: 5em;
        }
    }

    

    .game_avatar {
        display: flex;
        box-sizing: border-box;
        
        height: 100%;
        
        overflow: hidden;
        border-radius: .5em;

        cursor: pointer;
        transition: box-shadow .15s ease;

        box-shadow: var(--shadow);

        &:hover {
            box-shadow: inset var(--shadow);
        }
        
        img {
            width: 100%;
            height: 100%;
            
        }
    }

    .game_info {
        display: flex;
        flex-direction: column;
        gap: 1em;
        
        width: calc(100% - calc(64px + 1em));
        height: 100%;

        .game_info__header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .user {
                flex-direction: row-reverse;
            }
        }

        .game_info__title {
            font-size: 1.25em;
            font-weight: bold;
        }
        .game_info__description {
            font-size: 1em;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        .game_info__tags {
            display: flex;
            gap: .5em;
            .game_info__tags_tag {
                background: #00000049;
                color: #fff;
                padding: .25em .5em;
                border-radius: 1em;
            }
        }
    }
}

@keyframes animShuffle {
    from {
        transform: rotate(0);
    }
    25% {
        transform: rotate(5deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    to {
        transform: rotate(0);
    }
}