.tabs {
    display: flex;
    flex-direction: column;
    gap: var(--size-gap);

    width: 100%;

    &_header {
        display: flex;
        flex-direction: row;
        gap: var(--size-gap);
        align-items: center;

        border-bottom: .15em solid var(--clr-disabled);
        padding-bottom: var(--size-padding);

        &__elem {
            cursor: pointer;
            transition: color .15s ease;

            &_select {
                transition: color .15s ease;
                color: var(--clr-primary);
                cursor: default;
            }
        }
    }

    &_body {
        display: flex;
        flex-direction: column;
        gap: var(--size-gap);
    }
}