.header {
    position: sticky;
    top: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    background: var(--clr-bg-primary);
    gap: 1em;
    padding: .25em .5em;
    box-shadow: var(--shadow);
    width: 100%;

    .logo {
        width: 3em;
    }

    .header_title button {
        display: flex;
        gap: 1em;
        align-items: center;
        p {
            color: #E07F72;
            font-weight: 400;
            font-size: 1.5em;
        }
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;
        a.active button:not(:has(.user)) {
            filter: brightness(0) saturate(100%) invert(72%) sepia(8%) saturate(5391%) hue-rotate(312deg) brightness(95%) contrast(84%);
        }
        button:not(.button):not(:has(.user)) {
            filter: invert(1);
            height: 100%;
        }
    }

    button {
        border: 0;
        background: transparent;
        padding: .5em;
        box-sizing: border-box;
        outline: none;
        transition: opacity .25s ease;
        cursor: pointer;
        &:not(:has(.user)):hover {
            opacity: .5;
        }
    }

    .search_content {
        position: relative;
        width: 50%;
        .search {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            overflow: hidden;
            border-radius: 5em;
            box-sizing: border-box;
            padding: 0;
            margin: 0;
            outline: none;
            border: 0;
            box-shadow: inset 0 .15em .15em rgba(0, 0, 0, .15);
            background:#F2F2F2;
            
            input {
                border: 0;
                background: transparent;
                color: #000;
                padding: .5em;
                outline: none;
                font-size: 1em;
                padding: .5em 0 .5em 1em;
                border-top-left-radius: 5em;
                border-bottom-left-radius: 5em;
                width: 100%;
            }
            button {
                background: transparent;
                height: 100%;
                padding: .25em 1em;
                position: relative;
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: #E07F72;
                    left: 0;
                    top: 0;
                    border-top-left-radius: 5em;
                    border-bottom-left-radius: 5em;
                    z-index: -1;
                    box-shadow: 0 .15em .15em rgba(0, 0, 0, .15);
                }
                img {
                    
                    border-radius: 5em;
                    z-index: 1;
                    height: 100%;
                    
                }
                &:hover {
                    opacity: 1;
                }
            }

            
        }
    }
    .search_block {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 50vh;
        background: #F2F2F2;
        z-index: 100;
        box-shadow: 0 .15em .15em rgba(0, 0, 0, .15);
        box-sizing: border-box;
        padding: 1em 1em 0em 1em;
        border-bottom-left-radius: .5em;
        border-bottom-right-radius: .5em;
        overflow: hidden;
        overflow-y: auto;


        &:has(.search_block__nocontent) {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 1em;
            img {
                height: 15em;
                appearance: none;

                &.loading {
                    height: 10em;
                    animation-name: animLoading;
                    animation-duration: 2s;
                    animation-iteration-count: infinite;
                }
            }

            p {
                font-weight: 500;
                text-align: center;
            }
        }

        &__footer {
            position: absolute;
            bottom: 0;
            background-color: #F2F2F2;
            width: 100%;
            padding: .5em 1em;
            text-align: center;
            cursor: pointer;
            
            transition: background-color .15s ease;
            a {
                color: #000;
                
                font-weight: 500;
                font-size: 14pt;
                transition: color .15s ease;

            }
            &:hover {
                background-color: #fff;
                a {
                    text-decoration: none;
                    color: #E07F72;
                }
            }
        }

        .search_content {
            display: flex;
            flex-direction: column;
            gap: 1em;
            width: 100%;
            & > p {
                font-weight: bold;
            }
            & > div {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1em;
                
            }
            .search_block__row {
                display: flex;
                flex-direction: row;
                gap: 1em;
                .game {
                    width: 5em;
                }
                .user {
                    height: 5em;
                    aspect-ratio: 1;
                    .user_avatar {
                        width: 100%;
                        height: 100%;

                    }
                }
            }
        }
    }
}

@keyframes animLoading {
    from {
        transform: rotate(0);
        opacity: 1;
    }
    50% {
        opacity: .75;
    }
    to {
        transform: rotate(359deg);
        opacity: 1;
    }
}