.gamepage {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    cursor: default;

    .icon.preview {
        width: 10em;
        aspect-ratio: 1;
    }

    &_header {
        display: flex;
        align-items: center;
        gap: 1em;
        &__avatar {
            height: 5em;
            border-radius: 1em;
            box-shadow: 0 .15em .15em rgba(0, 0, 0, .15);
        }

        h1 {
            font-size: 20pt;
            font-weight: 500;
        }

        p {
            font-weight: 300;
            font-size: 14pt;
        }
    }

    &_context {
        display: grid;
        gap: 1em;
        grid-template-columns: min(100%, 800px) minmax(350px, 1fr);
        grid-auto-columns: auto;

        @media (max-width: calc(800px + 350px + 3em)) {
            grid-template-columns: 1fr;
        }
    }

    &_nav {
        display: flex;
        flex-direction: row;
        height: 5em;
        gap: 1em;
        .game.compact {
            aspect-ratio: 1;
            width: 5em;
            height: inherit;
        }
    }

    &_comments {
        display: flex;
        gap: 1em;
        flex-direction: column;
        width: 100%;

        &__form {
            display: flex;
            gap: 1em;
            flex-direction: row;
            width: 100%;
            flex-wrap: nowrap;

            &_error {
                color: #FF3131;
            }
        }

        &__deleted {
            font-size: 12pt;
            font-weight: 300;
            font-style: italic;
        }

        &__controls {
            display: flex;
            justify-content: flex-end;
            gap: 1em;

            p {
                color: #E07F72;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &__sub {
            display: flex;
            gap: 1em;
            flex-direction: column;
            margin-left: 1em;
            padding-left: 1em;
            border-left: .15em solid #73944149;

            &_open {
                width: 100%;
                text-align: center;
                cursor: pointer;
                padding: .5em 1em;
                transition: background .15s ease, color .15s ease;
                background: #F2F2F2;
                border-radius: 1em;
                &:hover {
                    background: #fff;
                    text-decoration: underline;
                    color: #E07F72;
                }
            }
        }
    }

    &_body {
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 100%;
        iframe {
            width: 100%;
            aspect-ratio: 16/9;
            border: 0;
            outline: 0;
            border-radius: 1em;
            box-shadow: inset 0 .15em .15em rgba(0, 0, 0, .15);

            &.preview {
                width: 50%;
            }
        }
        &__tags {
            display: flex;
            gap: 1em;
            align-items: center;
            flex-wrap: wrap;

            &_tag {
                box-shadow: 0 .15em .15em rgba(0, 0, 0, .15);
                background-color: #E07F72;
                color: #fff;
                padding: .25em 1em;
                border-radius: 1em;
                cursor: default;
            }
        }

        &__controls {
            display: flex;
            gap: 1em;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            div {
                display: flex;
                gap: 1em;
                align-items: center;
                flex-wrap: wrap;
            }

            &_date {
                p {
                    text-wrap: nowrap;
                    font-size: 12pt;
                    font-weight: 300;
                    font-style: italic;
                }
            }

        }

        &__title {
            font-weight: 500;
            font-size: 14pt;
        }

        &__authors {
            display: flex;
            flex-direction: column;
            gap: 1em;
        }

        &__description {
            font-weight: 400;
            font-size: 12pt;
        }
        &__empty {
            text-align: center;
            font-weight: 400;
            font-size: 12pt;
            font-style: italic;
        }
    }
}

@media (max-width: 960px) {
    .gamepage {
        &_nav {
            flex-direction: row;
            width: 100%;
            .game.compact {
                width: 5em;
            }
        }
        &_context {
            display: flex;
            gap: 1em;
            flex-wrap: wrap;
        }
        &_comments {
            width: 100%;
        }
    }
    
}