.wp_spin {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    img {
        height: 100%;
        max-height: calc(var(--size-padding) * 5);
        aspect-ratio: 1;
        animation-name: animLoading;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
}

.wp_content {
    width: inherit;
    height: inherit;
    gap: inherit;
    display: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    padding: inherit;
    align-items: inherit;

    opacity: 1;

    animation-name: animShow;
    animation-duration: .15s;
    animation-iteration-count: 1;
}

@keyframes animShow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes animLoading {
    from {
        transform: rotate(0);
        opacity: 1;
    }
    50% {
        opacity: .75;
    }
    to {
        transform: rotate(359deg);
        opacity: 1;
    }
}