.user {
    display: inline-flex;
    height: 3em;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    .user_avatar {
        display: inline-flex;
        aspect-ratio: 1;
        height: 100%;
        background: #739441;
        border-radius: .75em;
        overflow: hidden;
        img { height: 100%; }
        box-shadow: 0 .15em .15em rgba(0, 0, 0, .15);   
    }
    .user_login {
        font-size: 14pt;
        font-weight: 400;
    }

    &.link  {
        width: fit-content;
        cursor: pointer;
        .user_avatar {
            transition: box-shadow .2s ease;
        }

        .user_login {
            transition: color .15s ease;
        }

        &:hover {
            .user_avatar {
                box-shadow: 0 .15em .35em rgba(0, 0, 0, .35);
            }
            .user_login {
                color: #E07F72;
            }
        }
    }
}