.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: calc(var(--size-padding) * .5) calc(var(--size-padding) * 1.25);
    font-size: var(--size-text-default);
    border: 0;
    outline: 0;
    border-radius: var(--size-border-radius);
    cursor: pointer;
    box-shadow: var(--shadow);
    transition: background .15s ease;

    &.default {
        background: var(--clr-bg-primary);
        color: var(--clr-text-default);
        &:hover {
            background: color-mix(
                in hsl,
                var(--clr-bg-primary) 96%,
                var(--clr-text-default) 4%
            );
        }
    }

    &.primary {
        background: var(--clr-primary);
        color: var(--clr-primary-text);
        &:hover {
            background: color-mix(
                in hsl,
                var(--clr-primary) 90%,
                var(--clr-primary-text) 10%
            );
        }
    }

    &.second {
        background: var(--clr-second);
        color: var(--clr-second-text);
        &:hover {
            background: color-mix(
                in hsl,
                var(--clr-second) 90%,
                var(--clr-second-text) 10%
            );
        }
    }

    &.danger {
        background: var(--clr-danger);
        color: var(--clr-danger-text);
        &:hover {
            background: color-mix(
                in hsl,
                var(--clr-danger) 95%,
                var(--clr-danger-text) 5%
            );
        }
    }

    &.clear {
        background: transparent;
        color: var(--clr-text-default);
        img { filter: invert(1); }
        &:hover {
            background: color-mix(
                in hsl,
                var(--clr-bg-primary) 96%,
                var(--clr-text-default) 4%
            );
        }
    }

    &:disabled {
        background: var(--clr-disabled);
        color: var(--clr-disabled-text);
        cursor: not-allowed;
        &:hover {
            background: var(--clr-disabled);
        }
    }
    
    // &:hover {
    //     box-shadow: inset var(--shadow);
    // }

    img {
        height: 1em;
        aspect-ratio: 1;
    }
}

a[href]:has(.button) { text-decoration: none !important; }