.input_label {
    display: inline-flex;
    flex-direction: column;
    font-size: var(--size-text-default);
    font-weight: var(--weight-text-default);
    gap: calc(var(--size-gap) * .25);
    cursor: pointer;

    &__textarea {
        background: var(--clr-bg-second);
        font-size: var(--size-text-default);
        font-weight: var(--weight-text-default);
        cursor: text;

        padding: calc(var(--size-padding) * .5) calc(var(--size-padding) * .75);
        border: 1px solid transparent;
        outline: none;
        border-radius: var(--size-border-radius);
        box-shadow: inset var(--shadow);
        transition: border-color .25s ease;

        resize: vertical;
        min-height: 128px;
        
        &:disabled {
            cursor: not-allowed;
            background: var(--clr-disabled);
            color: var(--clr-disabled-text)
        }

        &:focus { border-color: var(--clr-second); }
    }
}