div.error {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    padding: 1em;

    img {
        width: 30%;
        aspect-ratio: 1;
        min-width: 128px;
    }

    h1 {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 24pt;
        text-align: center;
    }
    p {
        font-size: 16pt;
        font-weight: 100;
        text-align: center;
    }
}